@import "_reset.scss";
@import "_variables";


.module{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 100vh;
        margin:auto;
        text-align: center;
        padding: 2rem;
        
        
    &__image{
       
       height: 30%;
       width: 100%;
       
     
       img{
        object-fit: cover;
        height: 100%;

  
       }
    }
    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 2rem;
    }
    &__text{
        margin-top: 2rem;
        line-height: 2.4rem;
        color:$dark-1;
    }
    &__title{
        font-size:3rem;
        color:$dark-1;
    }
    &__box{
        
       margin-top: 3rem;

    }
    &__button{
      
        background-color: $primary;
        color: $btn-color;
        font-weight: 700;
        padding: 1rem 3rem;
        margin-bottom: 2rem;
        border-radius : 3.2rem;
        border:none;
        &:hover{
            cursor: pointer;
            background-color:$btn-hover-bgc-color;
        }

    }


}
@media(min-width:992px){
    .module{
        max-width: 1440px;
        flex-direction: row;
        justify-content: center;
        text-align: left;
        height: 36vh;
        min-height: 300px;
        margin:9.6rem auto;
        padding: 0;
        &__container{
            margin: 0;
            flex-basis: 33%;
            flex-grow: 0;
             margin-left: 4rem;
           
            
            justify-content: center;
         
        }
      
        &__box{
            flex-grow: 0;
           
           
            
    
        }
        &__image{
          flex-basis:33%;
          font-size: 0;
          height: 100%;
          margin-right: 4rem;
        }
    }
}
