@import "_reset.scss";
@import "_variables";


.module{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 100vh;
        margin:auto;
        text-align: center;
        padding: 4rem;
        
        
    &__image{
        height: auto;
       
        width: 100%;

       img{
        object-fit: cover;
  
       }
    }
    &__container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 2rem;
    }
    &__text{
        margin-top: 2rem;
        line-height: 2.4rem;
        color:$dark-1;
    }
    &__title{
        font-size:3rem;
        color:$dark-1;
    }
    &__box{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }
    &__button{
        margin: 0 0 10% 0;
        background-color: $primary;
        color: $btn-color;
        font-weight: 700;
        padding: 1rem 3rem;
        border-radius : 3.2rem;
        border:none;
        &:hover{
            cursor: pointer;
            background-color:$btn-hover-bgc-color;
        }

    }


}